.no-mapping{
  background-color: #ff0100;
  padding:2px;
  padding-right:4px;
  color: white;
  /*font-size: larger;
  border-radius: 3px;*/
  display: inline-block;
  margin-right: 4px;
  vertical-align: middle;
}

#ex1Slider .slider-selection {
    background: #BABABA;
}


.context-help-wrapper {
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 1;
    display: none;
}

.context-help-content {
    position: absolute;
    border: 1px solid #000000;
    background-color: #f7f7f7;
    display: none;
}

.context-help-label {
    font-weight: inherit;
    color: inherit;
}

.context-help-label:after {
    font-family: 'EBI-Generic';
    font-size: 70%;
    color: inherit !important;
    content: attr(data-icon);
    vertical-align: super;
    margin: 0 0 0 0;
}

.clickable {
    cursor: pointer;
}

/* Here we introduce new css for the new version*/
.alert-warning{
    background-color: #faebcc;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 10px 10px 10px 10px;
    border-radius: 0px;
}

.grayBackground{
background-color: #f2f2f2;
/*border-radius: 25px;*/
padding: 10px 10px 10px 10px;
margin: 10px;
}


#network{
    height:500px;
    width: 100%;
    border: 2px black solid;
}

