h1,h2,h3,h4,h5,h6 {
font-weight: normal;
}
div#local-title.logo-title span {
margin-top: 1.1em;
}

.no-mapping{
  background-color: #ff0100;
  padding:2px;
  padding-right:4px;
  color: white;
  /*font-size: larger;
  border-radius: 3px;*/
  display: inline-block;
  margin-right: 4px;
  vertical-align: middle;
}


.context-help-wrapper {
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 1;
    display: none;
}

.context-help-content {
    position: absolute;
    border: 1px solid #000000;
    background-color: #f7f7f7;
    display: none;
}

.context-help-label {
    font-weight: inherit;
    color: inherit;
}


.context-help-label:after {
    font-family: 'EBI-Generic';
    font-size: 70%;
    color: inherit !important;
    content: attr(data-icon);
    vertical-align: super;
    margin: 0 0 0 0;
}

.clickable {
    cursor: pointer;
}

/* Here we introduce new css for the new version*/
.alert-warning{
    background-color: #faebcc;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 10px 10px 10px 10px;
    border-radius: 0px;
}

.grayBackground{
background-color: #f2f2f2;
/*border-radius: 25px;*/
padding: 10px 10px 10px 10px;
margin: 10px;
}


.marginTop{
    margin-top:60px;
}

.marginBottom{
    margin-bottom:80px;
}

#network{
    height:500px;
    width: 100%;
    border: 0px black solid;
}



/*Migrated fomr fomrs.lens.css*/
label {
    display: inline-block !important;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;

}


/* Migrated from OLS css (used previously by OxO) to the oxo.css*/
.term-source {
    background-color: #ffac1b;
    padding: 2px;
    padding-right: 2px;
    padding-right: 4px;
    color: white;
    font-size: larger;
    border-radius: 3px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}

a .ontology-source {
    background-color: #5FBDCE;
    padding: 2px;
    padding-right: 2px;
    padding-right: 4px;
    color: white;
    font-size: larger;
    border-radius: 3px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
    border-bottom: none;
}


/* datatable customizing */
.dataTables_length {
    white-space: nowrap;
}

.dataTables_info{
    margin-top: 30px;
}

#example_length select{
    width:60px;
}


/*Help Pages*/

/* API doc*/

.listingblock{
    background: #ededed;
    color: #fff;
    text-shadow: none;
    padding: 3%;
    border-width: 1px;
    border-style: dotted;
    overflow: auto;
}

.listingblock .content .highlight{
    white-space: pre !important;

}

#mapping-vis .link {
    stroke: red;
}
