<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"/> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"/> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"/> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html  xmlns:th="https://www.thymeleaf.org" class="no-js" lang="en"> <!--<![endif]-->


<head th:replace="fragments/head :: head">
    <title>Ontology Xref Service   &lt; EMBL-EBI</title>
    <!-- A few keywords that relate to the content of THIS PAGE (not the whole project)
    <meta name="keywords" content="biosamples, europe, EBI" />
    <!- - Describe what this page is about - ->
    <meta name="description" content="EMBL-EBI" />

    <meta name="ebi:last-review" content="2016-12-20" />
    <!- - The last time the content was reviewed - ->
    <meta name="ebi:expiry" content="2017-12-20" />
    <!- - When this content is no longer relevant -->
</head>




<body class="level2">

<th:block th:include="fragments/header :: header"></th:block>


    <section id="main-content-area" class="row" role="main">
        <p>OxO is an database of ontology cross-references (xrefs) extracted from public ontologies and databases. Most of these cross-references have been extracted from ontologies in the
            <a href="//www.ebi.ac.uk/ols">Ontology Lookup Service</a> by searching for database cross-reference annotations on terms. We have supplemented these cross-references with
            mappings from a subset of vocabularies in the <a href="//www.nlm.nih.gov/research/umls/">UMLS</a>.</p>

        <p>
            The semantics of a cross-reference are weakly specified, in most cases they mean some kind of operational equivalence, but there is no guarantee.
            Sometimes cross-references are used to indicate other types of relationships such as parent/child or that the terms are related in some other way (such as linking a disease concept to a pathway accession that is somehow related to that disease).
            OxO aims to provide simple and convenient access to cross-references, but is not a mapping prediction service, so always treat these xrefs with caution, especially if you are seeking true equivalence between two ontologies.
        </p>

        <p>
            OxO gives you access to existing mappings, you can also explore the neighbourhood of a mapping using the distance controller. By default OxO shows you direct asserted mappings, but you can use the slider on various pages to look for mappings that are up to
            three hops away. You may see some terms that don't have labels associated to them, we are doing our best to find labels for all of these terms, but sometimes the labels are missing from the sources that we extract mappings from.
        </p>

        <p>
            OxO is developed by the Samples, Phenotypes and Ontologies team. If you have any questions about OxO please <a href="contact">contact us</a>.
        </p>

    </section>



<th:block th:include="fragments/footer :: footer"></th:block>

</body>
</html>