<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"/> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"/> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"/> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html  xmlns:th="https://www.thymeleaf.org" class="no-js" lang="en"> <!--<![endif]-->


<head th:replace="fragments/head :: head">
    <title>Ontology Xref Service   &lt; EMBL-EBI</title>
    <!-- A few keywords that relate to the content of THIS PAGE (not the whole project)
    <meta name="keywords" content="biosamples, europe, EBI" />
    <!- - Describe what this page is about - ->
    <meta name="description" content="EMBL-EBI" />

    <meta name="ebi:last-review" content="2016-12-20" />
    <!- - The last time the content was reviewed - ->
    <meta name="ebi:expiry" content="2017-12-20" />
    <!- - When this content is no longer relevant -->
</head>




<body class="level2">

<th:block th:include="fragments/header :: header"></th:block>


<!-- <div id="wrapper" class="container_24" style="min-width: 1000px;"> -->

<section id="main-content-area" class="row" role="main">

    <div class="row">
        <div class="grayBackground">
            <h4>Welcome to the EMBL-EBI Ontology Xref Service (OxO).</h4>
            <p style="font-size: 16px;">OxO is a service for finding mappings (or cross-references) between terms from ontologies, vocabularies and coding standards. OxO imports mappings from a variety of sources including the
        <a href="http://www.ebi.ac.uk/ols">Ontology Lookup Service</a> and a subset of mappings provided by the <a href="https://www.nlm.nih.gov/research/umls/">UMLS</a>. We're still developing the service so please <a href="contact">get in touch</a> if you have any feedback.</p>
    </div>
    </div>


        <div class="row">

            <div class="small-3 columns" style="height:1009px">
                <form id="queryForm" method="post" action="search">
                    <h4 class="panel-title">Search OxO by term id</h4>
                    <fieldset>
                        <!--<legend>Search OxO by term id</legend>-->

                        <!--@thymesVar id="source" type="uk.ac.ebi.spot.model.Datasource"-->
                        <label for="mappingTarget">
                        </label>
                        <span>Choose a target (optional)</span>
                        <select style="width: 100%; margin-bottom: 10px;" id="mappingTarget" name="mappingTarget" class=".form-control" >
                            <option></option>
                            <option th:each="source : ${datasources}" th:value="${source.getPrefix()}" th:text="${{source.getName()}}"></option>
                        </select>

                        <label for="identifiers">
                        </label>


                        <!--
                        <span>Mapping Distance: </span>
                        <div style="margin-left: 20px;">
                            <input id="distance-slider" name="distance" data-slider-id='ex1Slider' data-slider-value="2" value="2" type="text"/>
                        </div> -->


                        <!--
                        <div class="slider" data-slider data-initial-start="50" data-end="200">
                            <span class="slider-handle"  data-slider-handle role="slider" tabindex="1"></span>
                            <span class="slider-fill" data-slider-fill></span>
                            <input type="hidden">
                        </div> -->

                        <span>Enter list of identifiers:</span>
                        <div style="float:right; font-size: 0.8em">
                            <a href="#" onclick="populateExamples(); return false;" title="Click here to show some examples">Examples...</a>
                        </div>
                        <textarea id="identifiers" name="id-list" style="resize: none; width: 98%; height: 400px; overflow: auto;"></textarea>
                        <div style="float: right; padding-right: 4px">
                            <input type="button" name="submit" value="Clear" class="submit" style="float: right" onclick="clearAll();"/>
                            <input onClick="return submitIds()" type="submit" name="submit" value="Find mappings" class="submit" style="float: right; margin-right: 4px"/>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="small-8 columns">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">OxO summary view</h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            To use OxO either search for mappings using a particular identifier (e.g. MESH:D009202) or select a datasource below to view all mappings between datasources.
                        </p>


                        <div style="text-align:right;height:80px;width:100%;">
                            <label>Jump directly to a datasource</label>
                            <select style="width: 60%; margin-top: 10px;" id="mappingSourcesSelect" class="form-control" >
                                <!--<select  style="width: 60%; margin-top: 10px;" id="mappingSourcesSelect" class="mappingSourcesSelect"-->

                                <option></option>
                                <option th:each="source : ${datasources}" th:value="${source.getPrefix()}" th:text="${{source.getName()}}"></option>
                            </select>
                        </div>

                        <div id="mapping-vis">
                            <img id="mapping-vis-spinner" style="margin-left: 50%;" src="img/infinity.gif"/>
                        </div>

                    </div>
                </div>

            </div>
        </div>
</section>






<th:block th:include="fragments/footer :: footer"></th:block>



<script type="text/javascript" src="/js/oxo.js" th:src="@{/js/oxo.js}"></script>
<script type="text/javascript" src="/js/oxo-flare.js" th:src="@{/js/oxo-flare.js}"></script>

<!-- Candidates to be replaced? Do we want bootstrap here, we use foundation with the new layout?! -->
<!--
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>- - >
<script type="text/javascript" th:src="@{/webjars/bootstrap-slider/5.3.1/bootstrap-slider.min.js}" src="/webjars/bootstrap-slider/5.3.1/bootstrap-slider.min.js"></script> -->



<!-- All JS that is just used on this page should go here, I suppose-->
<script>
    function submitIds(e) {

        var form = $('#queryForm');
        form.on('submit', function (e) {
        });

        var ids = $('#identifiers').val();
        if (ids != '') {
            $.each(ids.split('\n'), function (index, id) {
                if (id != '') {
                    $('<input/>').attr({
                        type: 'hidden',
                        name: 'ids',
                        value: id
                    }).appendTo($('#queryForm'));
                }
            });

            return true
        }

        return false;

    }

    function jumpToSource(source) {
        window.location = 'datasources/' +source;
    }


    $(document).ready(function() {

        /*
        $('#distance-slider').slider({
            step: 1, min: 1, max: 3,
            ticks: [1, 2, 3],
            ticks_labels: ['1', '2', '3'],
            ticks_snap_bounds: 50
        })*/

        /*-- Where would that be used? $('.datasource-select').select2({placeholder: "Datasources"});-*/

        $('#mappingSourcesSelect').select2({placeholder: "Jump to a datasource"})
                .on('select2:select', function (e) {
                    //console.log("selected:  " + $(e.currentTarget).val())
                    jumpToSource($(e.currentTarget).val())
                });
    });
</script>

</body>
</html>