<html  xmlns:th="http://www.thymeleaf.org" class="no-js" lang="en">
<body>

<div th:if="${username}">

  <h1>Hello <span th:text="${username}">you</span></h1>
	<p>Orcid: <span th:text="${orcid}">you</span></p>
	<p>ApiKey: <span th:text="${apikey}">you</span></p>
	<p>Role: <span th:text="${role}">you</span></p>

	<form method="post" action="logout">
		<!--<input type="hidden"-->
           <!--th:name="${_csrf.parameterName}"-->
           <!--th:value="${_csrf.token}" />-->
		<button type="submit">Logout</button>
	</form>


</div>


</body>
</html>

