<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"/> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"/> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"/> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html  xmlns:th="https://www.thymeleaf.org" class="no-js" lang="en"> <!--<![endif]-->


<head th:replace="fragments/head :: head">
	<title>Ontology Xref Service   &lt; EMBL-EBI</title>
	<!-- A few keywords that relate to the content of THIS PAGE (not the whole project)
    <meta name="keywords" content="biosamples, europe, EBI" />
    <!- - Describe what this page is about - ->
    <meta name="description" content="EMBL-EBI" />

    <meta name="ebi:last-review" content="2016-12-20" />
    <!- - The last time the content was reviewed - ->
    <meta name="ebi:expiry" content="2017-12-20" />
    <!- - When this content is no longer relevant -->
</head>



<body class="level2">

<th:block th:include="fragments/header :: header"></th:block>

<section id="main-content-area" class="row" role="main">

<!--@thymesVar id="message" type="String"-->
				<div style="border-left: 1px solid #faebcc;width: 75%;text-align: center;margin: 0 auto;" class="alert alert-dismissible alert-success" th:if="${message}">
					<strong th:text="${message}">Success message goes here</strong>.
				</div>

				<!--@thymesVar id="error" type="String"-->
				<div style="border-left: 1px solid #ebccd1;width: 75%;text-align: center;margin: 0 auto;" class="alert alert-dismissible alert-danger" th:if="${error}">
					<strong th:text="${error}">Error message goes here</strong>.
				</div>

				<!--@thymesVar id="mapping" type="uk.ac.ebi.spot.model.Mapping"-->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Mapping info</h3>
					</div>
					<div class="panel-body">
						<div>
							<span><b>From term:</b> </span>
							<a class="nounderline" style="border-bottom-width: 0px;" th:href="@{../terms/{id}(id=${mapping.getFromTerm().getCurie()})}">
								<span th:text="${mapping.getFromTerm().getCurie()}"  class="term-source">cxxxxx</span>
									<span th:if="${mapping.getFromTerm().getLabel()}">
    						         (<span th:text="${mapping.getFromTerm().getLabel()}">id...</span>)
        							</span>
							</a>
						</div>
						<div>
							<span><b>To term:</b> </span>
							<a class="nounderline" style="border-bottom-width: 0px;" th:href="@{../terms/{id}(id=${mapping.getToTerm().getCurie()})}">
								<span th:text="${mapping.getToTerm().getCurie()}"  class="term-source">cxxxxx</span>
									<span th:if="${mapping.getToTerm().getLabel()}">
    						         (<span th:text="${mapping.getToTerm().getLabel()}">id...</span>)
        							</span>
							</a>
						</div>
						<div>
							<span><b>Scope:</b> </span><span th:text="${mapping.getScope()}">id...</span>
						</div>
						<div>
							<span><b>Created date:</b> </span><span th:text="${mapping.getDate()}">id...</span>
						</div>
						<div>
							<span><b>Mapping source:</b> </span>
							<a class="ontology-source" th:href="@{../datasources/{id}(id=${mapping.getDatasource().getPrefix()})}" th:text="${mapping.getDatasource().getName()}">id...</a>
							<span class="ontology-source" th:text="${mapping.getDatasource().getPrefix()}">id...</span>
						</div>

						<div>
							<span><b>Source type:</b> </span><span th:text="${mapping.getSourceType()}">id...</span>
						</div>

						<form method="post" class="form-horizontal" th:if="${username}" th:object="${mapping}">
							<button name="delete" style="margin-left:1px;" onclick="return confirm('Are you sure you want to delete this mapping?')" class="btn btn-danger"  th:if="${orcid} eq ${mapping.getDatasource().getPrefix()}">Delete</button>
						</form>

					</div>
				</div>
	</section>


<th:block th:include="fragments/footer :: footer"></th:block>

</body>
</html>