<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"/> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"/> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"/> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html  xmlns:th="https://www.thymeleaf.org" class="no-js" lang="en"> <!--<![endif]-->


<head th:replace="fragments/head :: head">
	<title>Ontology Xref Service   &lt; EMBL-EBI</title>
	<!-- A few keywords that relate to the content of THIS PAGE (not the whole project)
    <meta name="keywords" content="biosamples, europe, EBI" />
    <!- - Describe what this page is about - ->
    <meta name="description" content="EMBL-EBI" />

    <meta name="ebi:last-review" content="2016-12-20" />
    <!- - The last time the content was reviewed - ->
    <meta name="ebi:expiry" content="2017-12-20" />
    <!- - When this content is no longer relevant -->
</head>




<body class="level2">

<th:block th:include="fragments/header :: header"></th:block>


<section id="main-content-area" class="row" role="main">

<!--@thymesVar id="message" type="String"-->
				<div style="border-left: 1px solid #faebcc;width: 75%;text-align: center;margin: 0 auto;" class="alert alert-dismissible alert-success" th:if="${message}">
					<strong th:text="${message}">Success message goes here</strong>.
				</div>

				<!--@thymesVar id="error" type="String"-->
				<div style="border-left: 1px solid #ebccd1;width: 75%;text-align: center;margin: 0 auto;" class="alert alert-dismissible alert-danger" th:if="${error}">
					<strong th:text="${error}">Error message goes here</strong>.
				</div>


				<p>
					Mappings from <span class="term-source" th:text="${from}">from</span> to <span class="term-source" th:text="${to}"></span>
				</p>

				<p>Direct mappings are distance 1, derived mappings tell you all the mappings that were used to infer this mapping. The source tells you where the mappings came from.</p>

				<!--@thymesVar id="mappings" type="uk.ac.ebi.spot.model.Mapping"-->

				<div class="panel ">
					<div class="">
						<h4 class="">Direct mappings</h4>
					</div>
					<div class="">

						<div class="">
							<!--@thymesVar id="mapping" type="uk.ac.ebi.spot.model.Mapping"-->

							<table>
								<tr>
									<th>
										From id
									</th>
									<th>
										To id
									</th>
									<th>
										Source
									</th>
									<th>
										Created date
									</th>
									<th>
										View
									</th>
								</tr>
								<tr th:each="mapping : ${mappings}">
									<td>
										<a class="nounderline" style="border-bottom-width: 0px;" th:href="@{terms/{id}(id=${mapping.getFromTerm().getCurie()})}">
											<span th:text="${mapping.getFromTerm().getCurie()}"  class="term-source">cxxxxx</span>
               									<span th:if="${mapping.getFromTerm().getLabel()}">
                   						         (<span th:text="${mapping.getFromTerm().getLabel()}">id...</span>)
                       							</span>
										</a>
									</td>
									<td>
										<a class="nounderline" style="border-bottom-width: 0px;" th:href="@{terms/{id}(id=${mapping.getToTerm().getCurie()})}">
											<span th:text="${mapping.getToTerm().getCurie()}"  class="term-source">cxxxxx</span>
               									<span th:if="${mapping.getToTerm().getLabel()}">
                   						         (<span th:text="${mapping.getToTerm().getLabel()}">id...</span>)
                       							</span>
										</a>
									</td>
									<td>
										<a th:href="@{datasources/{id}(id=${mapping.getDatasource().getPrefix()})}" th:text="${mapping.getDatasource().getName()}">id...</a>
										(<span class="ontology-source" th:text="${mapping.getDatasource().getPrefix()}">id...</span>)
									</td>
									<td th:text="${mapping.getDate()}"></td>
									<td>
										<a th:href="@{mappings/{id}(id=${mapping.getMappingId()})}" th:text="View">View</a>
									</td>
								</tr>
							</table>

						</div>
					</div>
				</div>

				<div class="marginTop marginBottom">
					<div>
						<h4>Derived mapping provenance</h4>
					</div>
					<div>
						<div>
							<!--@thymesVar id="derivedmapping" type="uk.ac.ebi.spot.model.Mapping"-->

							<table>
								<tr>
									<th>
										From id
									</th>
									<th>
										To id
									</th>
									<th>
										Source
									</th>
									<th>
										Created date
									</th>
									<th>
										View
									</th>
								</tr>
								<tr th:each="mapping : ${derivedMappings}">
									<td>
										<a class="nounderline" style="border-bottom-width: 0px;" th:href="@{terms/{id}(id=${mapping.getFromTerm().getCurie()})}">
											<span th:text="${mapping.getFromTerm().getCurie()}"  class="term-source">cxxxxx</span>
               									<span th:if="${mapping.getFromTerm().getLabel()}">
                   						         (<span th:text="${mapping.getFromTerm().getLabel()}">id...</span>)
                       							</span>
										</a>
									</td>
									<td>
										<a class="nounderline" style="border-bottom-width: 0px;" th:href="@{terms/{id}(id=${mapping.getToTerm().getCurie()})}">
											<span th:text="${mapping.getToTerm().getCurie()}"  class="term-source">cxxxxx</span>
               									<span th:if="${mapping.getToTerm().getLabel()}">
                   						         (<span th:text="${mapping.getToTerm().getLabel()}">id...</span>)
                       							</span>
										</a>
									</td>
									<td>
										<a th:href="@{datasources/{id}(id=${mapping.getDatasource().getPrefix()})}" th:text="${mapping.getDatasource().getName()}">id...</a>
										(<span class="ontology-source" th:text="${mapping.getDatasource().getPrefix()}">id...</span>)
									</td>
									<td th:text="${mapping.getDate()}"></td>
									<td>
										<a th:href="@{mappings/{id}(id=${mapping.getMappingId()})}" th:text="View">View</a>
									</td>
								</tr>
							</table>

						</div>
					</div>
				</div>

	</section>


<th:block th:include="fragments/footer :: footer"></th:block>

</body>
</html>