<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"/> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"/> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"/> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html  xmlns:th="https://www.thymeleaf.org" class="no-js" lang="en"> <!--<![endif]-->


<head th:replace="fragments/head :: head">
    <title th:inline="text">[[${title}]]   &lt; [[${org}]]</title>
    <!-- A few keywords that relate to the content of THIS PAGE (not the whole project)
    <meta name="keywords" content="biosamples, europe, EBI" />
    <!- - Describe what this page is about - ->
    <meta name="description" content="EMBL-EBI" />

    <meta name="ebi:last-review" content="2016-12-20" />
    <!- - The last time the content was reviewed - ->
    <meta name="ebi:expiry" content="2017-12-20" />
    <!- - When this content is no longer relevant -->
</head>



<body class="level2">

<th:block th:include="fragments/header :: header"></th:block>

<section id="main-content-area" class="row" role="main">

        <!--@thymesVar id="message" type="String"-->
        <div style="border-left: 1px solid #faebcc;width: 75%;text-align: center;margin: 0 auto;" class="alert alert-dismissible alert-success" th:if="${message}">
            <strong th:text="${message}">Success message goes here</strong>.
        </div>

        <!--@thymesVar id="error" type="String"-->
        <div style="border-left: 1px solid #ebccd1;width: 75%;text-align: center;margin: 0 auto;" class="alert alert-dismissible alert-danger" th:if="${error}">
            <strong th:text="${error}">Error message goes here</strong>.
        </div>

        <!--@thymesVar id="term" type="uk.ac.ebi.spot.model.Term"-->

        <div class="row">

            <!--<div  class="grid_12 alpha"> -->

            <div class="small-4 columns grayBackground">
                <div th:if="${term}" class="panel">
                    <div class="panel-heading">
                        <h5 class="panel-title">Term info</h5>
                    </div>
                    <div class="panel-body">


                        <div style="font-size: large">
                            <span class="term-source" th:text="${term.getCurie()}">id...</span>
                                                           <span th:if="${term.getLabel()}">
                                                                (<span th:text="${term.getLabel()}">id...</span>)
                                                           </span>

                        </div>
                        <div th:if="${term.getUri()}">
                            <span>URI: </span><a target="_blank" th:href="${term.getUri()}" th:text="${term.getUri()}">id...</a>
                        </div>
                        <div>
                            <span>Datasource: </span>
                            <a th:href="@{../datasources/{id}(id=${term.getDatasource().getPrefix()})}" th:text="${term.getDatasource().getName()}">id...</a>
                            <span class="ontology-source" th:text="${term.getDatasource().getPrefix()}">id...</span>
                        </div>
                        <div>
                            <span>Type: </span><span th:text="${term.getDatasource().getSource()}">id...</span>
                        </div>
                        <!--<div th:if="${term.getDatasource().getIdorgNamespace()}">-->
                        <!--<span>External link: </span><a class="nounderline" target="_blank" th:href="@{http://ids.org/{namespace}/{id}(namespace=${term.getDatasource().getIdorgNamespace()},id=${term.getIdentifier()})}" th:text="${term.getCurie()}">id...</a>-->
                        <!--</div>-->

                        <div  th:if="${term.getDatasource().getSource() == T(uk.ac.ebi.spot.model.SourceType).ONTOLOGY}" style="padding-top: 5px;">
				<button th:onclick="'window.location.href=\'' + ${olsUrl}+@{/terms(iri=${term.getUri()})} + '\''"  class="button secondary clickable">View in OLS</button>
                        </div>

                    </div>
                </div>


                <div th:if="${term} and not ${readonly}" class="panel">
                    <div class="panel-heading">
                        <h5 class="panel-title">Add new Mapping</h5>
                    </div>
                    <div class="panel-body">

                        <div>

                            <!--@thymesVar id="mappingRequest" type="uk.ac.ebi.spot.model.MappingRequest"-->

                            <form method="post" action="../mappings" th:object="${mappingRequest}">

                                <div class="form-group">
                                    <!--<label for="toId" class="col-lg-2 control-label">Mapped id</label>-->
                                    <div class="col-lg-6" th:class="${#fields.hasErrors('toId')} ? 'col-lg-6 has-error' : 'col-lg-6'">
                                        <!--<input type="text" class="" id="toId" name="toId" th:field="*{toId}"/>-->
                                        <input style="font-weight: normal" size="35" type="text" th:field="*{toId}"  id="toId" name="toId" data-suggest-header="Select term" data-olswidget="select" data-olsontology="" data-selectpath="http://www.ebi.ac.uk/ols/" olstype="" placeholder="Enter an id" class="form-control toId"/>
                                    </div>
                                </div>
                                <input type="hidden" name="fromId" th:value="${term.getCurie()}" th:field="*{fromId}"/>
                                <input type="hidden" name="scope" th:field="*{scope}"/>
                                <input type="hidden" name="sourceType" th:field="*{sourceType}"/>


                                <button onclick="return confirm('Are you sure you want to add this mapping?')" class="btn btn-default" type="submit">Add</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

            <div class="small-7 columns grayBackground">

                <div th:if="${term}" class="panel">
                    <div class="panel-heading">
                        <h5 class="panel-title">Network</h5>
                    </div>
                    <div class="panel-body">
                        <div id="mapping-vis" style="width:100%; text-align:center;">
                            <div style="position: absolute; display:inline-block; margin-left:350px; margin-top:250px;" id="mapping-vis-spinner">
                                <img src="../img/infinity.gif"/>
                            </div>
                        </div>
                        <div id="network" th:attr="data-get-mapping-vis=${id},data-api-path='../'"></div>
                    </div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="small-12 columns grayBackground">
            <div th:if="${term}" class="panel">

                <div>

                    <th:block th:include="fragments/slider :: slider"></th:block>

                             <form>
                                <input type="hidden" name="distance" th:value="1"/>
                                <input type="hidden" name="inputSource" th:value="${inputSource}"/>
                                <input th:each="target : ${mappingTarget}" type="hidden" name="mappingTarget" th:value="${target}"/>
                                <input type="hidden" name="ids" th:value="${id}"/>
                            </form>


                            <div>
                                <table  style="border-collapse: collapse;" data-hide-from-col="true" data-hide-table-info="true" data-api-path="../" data-with-progress="false" id="example">
                                </table>
                            </div>
                </div>

                </div>
            </div>
        </div>



</section>


<th:block th:include="fragments/footer :: footer"></th:block>

<script type="text/javascript" src="../static/js/vis.js" th:src="@{../js/vis.js}"></script>
 <script type="text/javascript" src="/js/oxo-search-result.js" th:src="@{/js/oxo-search-result.js}"></script>
<script type="text/javascript" src="/js/oxo-graph.js" th:src="@{/js/oxo-graph.js}"></script>
<script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function() {
        //Initialize the table and the graph for the first time
        reinitialiseTable()
        //drawGraph()
        $('.slider').on('moved.zf.slider', function(){
            if ($("input[name=distance]").val()!==$(".slider input").val()){    //Check if there was a change, if there is, update stuff
                $("input[name=distance]").val($(".slider input").val())
                reinitialiseTable()
                drawGraph()
            }
        });
    });
</script>

</body>
</html>
